/* Custom Style Sheet */
body{
  background-color: #
}

/* Navbar Decoration */
/* .mynav {
  background-image: linear-gradient(to Right, #007900, grey, white);
} */
.mynav {
  background-image: url(img/hill.jpg);
  background-size: cover;
  }

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 5px #777;
    /* color: linen !important; */
    margin-left: 50px;
    margin-right: 50px !important;
}

.mynav a {
  margin-right: 20px;
  color: linen !important;

}

.mynav a:hover {
  /* border-bottom: 2px solid #23c769; */
  background-color: #23c769
}

.active a {
  border-bottom: 2px solid #23c769;
}


/* Footer */

footer {
  background:#444;
  padding:20px;
}

.design {
  padding-top: 10px;
}

.smed i {
  color: #fff;
  font-size: 30px;
  margin: 10px;

}
.smed i:hover {
  color: #23c769;

}
@media only screen and (max-width: 1140px) {
  .navbar-brand {
  margin-left: 10px;
  }
